:root {
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
  --highlight-colour: rgba(39, 33, 66, 1);
  --brand-color: #28e2ff;
  --secondary-color: #ff911c;
}

body {
  background: black;
  color: white;
  font-family: var(--default-font-family);
}

h1 {
  color: white;
  font-family: var(--heading-font-family);
}

h2 {
  color: white;
  font-family: var(--heading-font-family);
}

p {
  color: white;
}

.about-section {
  padding: 85px 20px;
  width: 85%;
}

.active {
  color: var(--brand-color) !important;
}

.branding-word {
  color: var(--brand-color);
}

.btn-card {
  border-color: var(--brand-color);
  border-radius: 20px;
  color: var(--brand-color);
}

.btn-card:hover {
  background: var(--brand-color);
  border-color: var(--brand-color);
  color: black;
}

.btn-primary {
  background: white;
  border-color: var(--highlight-colour);
  border-radius: 50px;
  color: var(--highlight-colour);
  padding: 8px 12px;
}

.btn-primary:hover {
  background: var(--highlight-colour);
  border-color: var(--brand-color);
  color: white;
}

.card-text {
  color: black;
  font-size: 16px;
}

.card-title {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.certificates a {
  color: var(--secondary-color);
  text-decoration: none;
}

.certification {
  background-color: #202020;
  padding: 35px 20px;
  width: 100%;
}

.contact {
  color: var(--secondary-color);
}

.contact-details h1,
h3 {
  margin-top: 40px;
}

.contact-details a {
  color: var(--brand-color);
  text-decoration: none;
}

.container {
  width: 90%;
}

.hero {
  background-image: url(../media/computer5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 90%;
  border: 2px solid #676767;
  margin: 3rem auto;
  text-align: center;
}

.hero-button {
  background: #ffffff;
  border-color: var(--highlight-colour);
  border-radius: 50px;
  color: var(--highlight-colour);
  margin: 42px auto 155px;
  opacity: 0.8;
  padding: 18px 30px;
}

.hero-button:hover {
  background: var(--highlight-colour);
  border-color: var(--brand-color);
  color: white;
}

.hero-title {
  color: white;
  display: block;
  font-family: var(--heading-font-family);
  font-size: 72px;
  letter-spacing: 0.1em;
  margin: 22px 0 4px;
  text-align: center;
}

.hero-text {
  color: white;
  display: block;
  font-family: var(--default-font-family);
  font-size: 24px;
  letter-spacing: 0.05em;
  margin: 50px 0;
  padding: 0 10px;
  text-align: center;
}

.my-projects {
  background-color: #202020;
  margin: 0;
  max-width: 100%;
  padding: 66px 70px;
  width: 100%;
}

.navbar-brand {
  color: var(--secondary-color);
  margin-left: 20px;
}

.projects {
  border: 2px solid #676767;
  margin: 0 55px;
  padding: 20px 50px;
}

.projects h3 {
  color: var(--secondary-color);
  padding: 0 0 12px;
  text-align: center;
}

.projects h4 {
  padding: 0 0 12px;
  text-align: center;
}

.projects button {
  background: #ffffff;
  border-color: var(--highlight-colour);
  border-radius: 50px;
  color: var(--highlight-colour);
  font-family: var(--default-font-family);
  margin: 0 auto;
  padding: 18px 30px;
}

.projects-heading {
  color: var(--brand-color);
  margin-bottom: 48px;
  text-align: center;
}

.skills {
  width: 85%;
}

.skills h5 {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.skills-icon {
  display: block;
  height: 35px;
  margin: 0 auto;
}

.skills-list {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  button {
    padding: 12px 20px;
  }

  .hero-button {
    margin: 42px auto 60px;
  }

  .portfolio {
    padding: 35px 55px;
  }

  .portfolio-heading {
    margin-bottom: 0;
  }

  .projects {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .card {
    width: 11rem !important;
  }

  .hero-title {
    font-size: 58px;
  }
}
